HelloMvvm/Service References/ShiftTaskServiceProxy/ShiftTaskService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/RollFormingFactoryService/ShiftTaskService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RollFormingFactoryLibrary" />
  <xs:element name="SignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lineCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignOut">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SignOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignOutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByPIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByPINResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RollFormingFactoryLibrary" minOccurs="0" name="GetUserByPINResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RollFormingFactoryLibrary" minOccurs="0" name="GetTasksResult" nillable="true" type="q2:ArrayOfShiftTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>